<div class= "dashboard clearfix">
  <h3>Heorku Dynos
    <span class="beacon">
      <span class="ring"></span>
      <span class="dot"></span>
    </span>
  </h3>
</div>

<div class="row chart">
  <div id="history" data-update-url="<%= root_path %>stats" data-dynos-url="<%= root_path %>dynos/stats"></div>
  <div id="history-legend"></div>
  <script id="history-data" type="text/json">
    <%= JSON.generate(@stats) %>
  </script>
</div>

<h5>Process types</h5>
<div class="table_container">
  <table class="processes table table-hover table-bordered table-striped table-white">
    <thead>
      <th>Name</th>
      <th>Updated at</th>
      <th>Status</th>
      <th>Dynos</th>
    </thead>
    <% @stats.each_pair do |key, stats| %>
      <tr>
        <td><%= key %></td>
        <td id="<%= key %>-updated"><%= stats[:updated] %></td>
        <td id="<%= key %>-status"><%= stats[:status] %></td>
        <td id="<%= key %>-dynos"><%= stats[:dynos] %></td>
      </tr>
    <% end %>
  </table>
</div>

<script type="text/javascript" src="<%= root_path %>dynos/index.js?v=<%= rand(0..9999) %>"></script>